/*
Ejercicio completo con HTML y CSS
(X) 1. Crear un documento HTML y vincularlo con CSS
(X) 2. Crea una estructura HTML que cuente con un contenedot general, cabecera, menu , barra lateral, secccion de contenido principal, elementos dentro del contenedor principal y footer    

(X) 3. todo el contenido debe estar dentro del contenedor principal y su ancho debe estar en un contenedo principal y su ancho será de 1200px y estar centrado.

(X) 4.Header debe ocupar el 100% de ancho y tener un texto grande centrado 

(X) 5. el menu debe tener los elementos uno al lado del otro 

(X) 6. el contenido principal debe tener un ancho del 70%

(X) 7 el contenido dentro del contenedor principal debe ser una cuadricula de dos cajas.

(X) 8. la barra lateral debe tener un ancho del 30% 

(X) 9 . el footer debe tener un ancho del 100% del div que lo contiene y estar abajo del todo
*/
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}

#general{
    width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid #ccc;

}
#header{
    width: 100%;
    height: 100px;
    background-color: rgb(67, 106, 189);
    color: white;
    text-align: center;
    line-height: 90px;
}
.clearfix{
    float: none;
    clear: both;
}

#menu{
    background-color: #eee;

}
#menu ul li{
    /* display: inline-block;*/
    display: block;
    float: left;
    padding: 15px;
    border-right: 1px solid #ccc;
    
}   

#menu ul li a{
    color: #444;
    display: block;
    
}


#menu ul li:hover{
background-color:rgb(53, 96, 189);
cursor: pointer;
}



#menu ul li:hover a{
    color: white;
} 

#content{
    width: 69%;
    float: left;
}

#lateral{
    float: left;
    width: 30%;
    border: 1px solid lightcoral;
    min-height: 500px;

}

#contenido h1{
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 15px;
    color: #444;
    
}


#content .box{
    width: 40%;
    height: 250px;
    background-color: lightcoral;
    border: 5px solid lightblue;
    color: white;
    float: left;
    margin: 20px;
    text-align: center;
    margin-left: 40px;
}

#footer{
    width: 100%;
    height: 55px;
    line-height: 55px;
    border-top: 1px solid #ccc;
    background-color: #eee ;
    text-align: center;
    color: #444;
    
}

